@page "/Browse"
@using Parduotuve.Data.Repositories
@using Parduotuve.Data.Entities
@inject ISkinRepository _skinRepository
@inject NavigationManager NavManager
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=add_shopping_cart" />

<div style="padding: 10px; text-align: center;">
    @foreach(Skin skin in Skins)
    {
        <div @onclick="@(() => EntryClicked(false,skin.Id))" style="border: 1px solid black;padding:10px; margin:15px;text-align:center;cursor:pointer;display:inline-block;">
            <img src=@skin.SplashUrl style="margin:10px;height:360px;width:200px" />
            <h4>@skin.Name</h4>
            <p>@skin.ChampionName</p>
            <h3>@skin.Price €</h3>
            <button @onclick="@(() => EntryClicked(true,skin.Id))">
                <span style="padding:10px; display:inline-flex;align-items:center;">
                    <p style="margin:0;margin-right:10px;">Į KREPŠELĮ</p>
                    <span class="material-symbols-outlined">
                        add_shopping_cart
                    </span>
                </span>
            </button>
        </div>
    }
</div>

@code {
    private IEnumerable<Skin> Skins { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Skins = await _skinRepository.GetAllAsync();
    }
    /// <summary>
    /// Event handler for clicking on a listing within the page
    /// </summary>
    /// <param name="cart">True if the add to cart button was clicked, false if only the listing was clicked</param>
    /// <param name="id">The ID of the listing which was clicked</param>
    private void EntryClicked(bool cart, int id)
    {
        if(cart)
        {
            throw new NotImplementedException("Should be added to cart");
        }
        NavManager.NavigateTo("/Description/" + id); //should navigate to individual listing URL
    }

}
