@page "/"
@using Parduotuve.Data.Repositories
@using Parduotuve.Data.Entities
@using Parduotuve.Services
@inject ISkinRepository _skinRepository
@inject NavigationManager NavManager
@inject Shopping_Cart_Service Shopping_Cart
@inject ISnackbar Snackbar

<MudPaper Class="d-inline-flex justify-center align-content-center align-center px-3 pt-2 pb-0" Style="width:100%">
    <MudSelect Variant="Variant.Outlined" Label="Sort by" @bind-Value="selectedSortOption" TextChanged="@(() => LoadSkinsAsync())">
        <MudSelectItem Value="@("ChampionName")">
            <MudIcon Icon="@Icons.Material.Filled.Person4" /> Champion Name
        </MudSelectItem>
        <MudSelectItem Value="@("Price")">
            <MudIcon Icon="@Icons.Material.Filled.Euro" /> Price
        </MudSelectItem>
        <MudSelectItem Value="@("Name")">
            <MudIcon Icon="@Icons.Material.Filled.Label" /> Name
        </MudSelectItem>
    </MudSelect>
    <MudCheckBox @bind-Value="IsReversed" Label="Reverse sort"></MudCheckBox>
    <MudSpacer />
    <MudTextField @bind-Value="searchQuery" @oninput="LoadSkinsAsync" Label="Search by skin name"></MudTextField>
</MudPaper>

<MudPaper Class="justify-center d-flex flex-wrap gap-4 py-4">
    @foreach (Skin skin in GetPageContents())
    {
        <MudCard Style="width:260px;cursor:pointer" onclick="@(()=>OpenDescription(skin.Id))">
            <MudCardMedia Image="@skin.SplashUrl" Height="480"/>
            <MudCardContent>
                <MudText Typo="Typo.h5">@skin.Name</MudText>
            </MudCardContent>
            <MudCardActions Class="justify-center flex-column">
                <MudText Typo="Typo.h6" Color="Color.Secondary">@skin.Price €</MudText>
                <MudButton EndIcon="@Icons.Material.Filled.AddShoppingCart" @onclick="@(()=>AddToCart(skin.Id))">Add to cart&nbsp</MudButton>
            </MudCardActions>
        </MudCard>
    }
</MudPaper>

@if(GetPageContents().Count() > 0)
{
    <div class="d-flex flex-column align-center">
        <MudPagination BoundaryCount="2" MiddleCount="5" Count="@PageCount" Selected="@Page" SelectedChanged="@((page) => NavToPage(page))" Class="mt-4" />
    </div>
}
else
{
    <h1>No results were found.</h1>
}

@code {
    [SupplyParameterFromQuery]
    [Parameter]
    public int Page { get; set; }
    private static int ItemsPerPage = 12;
    private int PageCount { get { return FilteredSkins.Chunk(ItemsPerPage).ToArray().Length; } }

    private IEnumerable<Skin> Skins { get; set; } = new List<Skin>();
    private IEnumerable<Skin> FilteredSkins { get; set; } = new List<Skin>();
    private string selectedSortOption { get; set; } = "ChampionName";
    private string searchQuery = string.Empty;
    private bool _isReversed = false;
    public bool IsReversed { get { return _isReversed; } set { _isReversed = value; LoadSkinsAsync().Wait(); } }

    protected override async Task OnInitializedAsync()
    {
        Snackbar.Configuration.PreventDuplicates = false;
        if(Page<=0) { Page = 1; }
        await LoadSkinsAsync();
    }

    private async Task LoadSkinsAsync()
    {
        Skins = await _skinRepository.GetSortedSkinsAsync(selectedSortOption);
        ApplySearchFilter();
        StateHasChanged();
    }

    private IEnumerable<Skin> GetPageContents()
    {
        int tempPage = Page;
        if (Page <= 0)
            tempPage = 1;
        if (Page > PageCount)
            tempPage = PageCount;
        if (tempPage == 0 || FilteredSkins.Count() == 0)
            return Array.Empty<Skin>();

        return FilteredSkins.Chunk(ItemsPerPage).ToArray()[tempPage - 1];
    }
    private void NavToPage(int page)
    {
        string pagedUri = NavManager.GetUriWithQueryParameter("Page", page);
        NavManager.NavigateTo(pagedUri, false);
    }
    private void ApplySearchFilter()
    {
        FilteredSkins = Skins.Where(skin =>
            (skin.Name?.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ?? false) ||
            (skin.ChampionName?.Contains(searchQuery, StringComparison.OrdinalIgnoreCase) ?? false)
        );
        if (IsReversed)
        {
            FilteredSkins = FilteredSkins.Reverse();
        }
    }
    private void OpenDescription(int id)
    {
        NavManager.NavigateTo("/Description/" + id);
    }

    private async Task AddToCart(int id)
    {
        Shopping_Cart.Add(id);
        string skin = (await _skinRepository.GetByIdAsync(id)).Name;
        Snackbar.Add($"{skin} added to cart!", Severity.Success);
    }
}