@page "/Account_creation"
@using Parduotuve.Data.Entities
@using Parduotuve.Services
@inject NavigationManager NavManager
@inject AuthService AuthService

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        text-align: center;
    }

<MudContainer MaxWidth="MaxWidth.ExtraSmall" Class="d-flex justify-center align-center min-vh-100 pa-5">
    <MudPaper Elevation="3" Class="pa-5" Style="border-radius: 12px; width: 100%;">
        <MudText Typo="Typo.h5" Class="mb-4 text-center">Login</MudText>

        <MudForm Model="@input" IsValid="@_isValid" @ref="form">
            <MudTextField Label="First name" @bind-Value="@input.Name"/>
            <MudTextField Label="Surname" @bind-Value="@input.Surname"/>
            <MudTextField Label="E-mail" @bind-Value="@input.Email" Required="true" InputType="InputType.Email" RequiredError="E-mail is required." />
            <MudTextField Label="Username" @bind-Value="@input.Username" Required="true" RequiredError="Username is required." />
            <MudTextField Label="Password" @bind-Value="@input.Password" Required="true" RequiredError="Password is required." InputType="InputType.Password" />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="CreateAccount" Disabled="@_loading" Class="mt-3" FullWidth>
                <MudProgressCircular Indeterminate="true" Size="Size.Large" Style="margin-right: 10px;" Hidden="!_loading" />
                Login
            </MudButton>
            <MudText Color="@messageColor">@message</MudText>
            <MudLink Href="/AdminLogin">Return to login page</MudLink>
        </MudForm>
    </MudPaper>
</MudContainer>

    .error-message {
        color: red;
        font-size: 14px;
        margin-top: 10px;
    }

    .success-message {
        color: green;
        font-size: 14px;
        margin-top: 10px;
    }
</style>

<div class="container">
    <EditForm Model="input" OnValidSubmit="CreateAccount">
        <DataAnnotationsValidator />

        <InputText id="name" class="input-field" @bind-Value="input.Name" placeholder="Name" autocomplete="off" />
        <br />
        <InputText id="surname" class="input-field" @bind-Value="input.Surname" placeholder="Surname" autocomplete="off" />
        <br />
        <InputText id="email" class="input-field" @bind-Value="input.Email" placeholder="Gmail" autocomplete="off" />
        <br />
        <InputText id="username" class="input-field" @bind-Value="input.Username" placeholder="Username" autocomplete="off" />
        <br />
        <InputText id="password" class="input-field" @bind-Value="input.Password" placeholder="Password" type="password" autocomplete="off" />
        <br />
        <button type="submit" class="btn btn-primary">Create account</button>
        <br>
        <br>
        <button class="btn btn-secondary" @onclick="Return_to_login_page">Return to login page</button>
    </EditForm>

    
    @if (!string.IsNullOrEmpty(message))
    {
        <p class="@messageClass">@message</p>
    }
</div>

@code {
    private InputInfo input = new InputInfo();
    private MudForm form;
    private bool _loading = false;
    private bool _isValid = false;
    private string message { get; set; } = String.Empty;
    private Color messageColor { get; set; } = Color.Primary;

    public async Task CreateAccount()
    {
        _loading = true;
        message = "";
        await form.Validate();
        _isValid = form.IsValid;
        if (!_isValid)
        {
            _loading = false;
            return;
        }
        var existingUser = await AuthService.Check_if_user_exists(input.Username);
        if (existingUser != null)
        {
            message = "User with such username already exists!";
            messageColor = Color.Error;
            _loading = false;
            return;
        }
        bool isCreated = await AuthService.RegisterAsync(input.Name, input.Surname, input.Email, input.Username, input.Password, "Guest");
        if (isCreated)
        {
            message = "Account has been successfully created!";
            messageColor = Color.Success;
            input = new InputInfo(); 
            _loading = false;
        }
        else
        {
            message = "An error occurred while creating the account.";
            messageColor = Color.Error;
            _loading = false;
    }

   
    private void Return_to_login_page()
    {
        NavManager.NavigateTo("/AdminLogin");
    }


    protected class InputInfo
    {
        public string Name { get; set; }
        public string Surname { get; set; }
        public string Email { get; set; }
        public string Username { get; set; }
        public string Password { get; set; }

        public InputInfo()
        {
            Name = "";
            Surname = "";
            Email = "";
            Username = "";
            Password = "";
        }
    }
}